@yellowOne: #FCE17A;
@yellowTwo: #FDE688;
@lightYellow: #FFE589;
@purple: #FF70C3;
@white: #FFFFFF;


html,body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

p{
	font-size: 16px;
	font-family: 'Maven Pro', sans-serif;
}

.container
{
	max-width: 900px;
}

.card{
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	padding: 40px;
	overflow: hidden;
	position: relative;

	@media screen and(max-width:630px) {
		padding: 10px;
	}
}

.card-third
{
	.card;
	min-height: 33%;

}

.card-half
{
	.card;
	min-height: 50%;

}

.title
{
	text-transform: uppercase;
	font-size: 12em;
	text-align: center;
	color: @white;
	margin-bottom: -20px;

	@media screen and(max-width:990px) {
		font-size: 8em;
	}
	@media screen and(max-width:630px) {
		font-size: 3em;
	}
}
.title-cali
{
	z-index: 1;
	font-size: 5em;
	position: relative;
	top: -50px;
	right: -280px;
	text-align: center;
	-webkit-transform:rotate(-15deg);
	transform: rotate(-15deg);

	font-family: Great Vibes;

	// (outline, shadow, shadow)
	text-shadow:
		0px 0px 1px #000,
		1px 1px 7.5px #000,
		1px 1px 10px #000;

	color: @purple;

	@media screen and(max-width:950px) {
		font-size: 4em;
		top: -40px;
		right: -175px;
	}

	@media screen and(max-width:630px) {
		font-size: 3em;
		top: -5px;
		padding-bottom: 10px;
		// right: -50px;
		left: -5px;
		-webkit-transform:rotate(0deg);
		transform: rotate(0deg);
	}

}
.subtitle{
	position: relative;
	top: -130px;

	border-top-style:solid;
	border-top-color: white;
	border-top-width: 20px;

	border-bottom-style:solid;
	border-bottom-color: white;
	border-bottom-width: 20px;

	margin-bottom: -40px;

	@media screen and(max-width: 950px) {
		top: -100px;
		border-top-width: 15px;
		border-bottom-width: 15px;
	}
	@media screen and(max-width:630px) {
		top: -40px;
		border-top-width: 10px;
		border-bottom-width: 10px;
	}


	h2{
	text-transform: uppercase;
	text-align: center;
	font-size: 4em;
	color: @white;

		@media screen and(max-width:950px) {
			font-size: 3em;

		}

		@media screen and(max-width:630px) {
			font-size: 2em;

		}
	}
}

@iconColor: #428BCA;
div#eventguide {
	// text-align: center;
}

div#whatIcons .col-xs-1 {
	// width: 7.2%;
	float:none;
  display:inline-block;
  vertical-align:middle;
  // text-align: center;
}

div#whatIcons .row {
	width: 80px;
	text-align: center;
}

span.whatArrow {

}

a.whatTitle {
	color: @iconColor;
	padding: 10px;
	display: inline-block;
	text-align: center;
}

a.whatTitle>p {
	text-align: center;
	color: black;
	// width: 100px;
	margin: 0px 0px 0px 0px;
}

a.whatTitle:hover {
	text-decoration: none;
	color: lighten(@iconColor, 10%);
}

a.whatTitle span{
	font-size: 30pt;
}

section#home{
	.card-half;
	color: @white;
	background:
	    linear-gradient(
      rgba(255, 229, 137, 0.2),
      rgba(255, 229, 137, 0.2),
      rgba(255, 229, 137, .65)
    ),
	url("../img/stryk.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

section#what{
	.card-third;
}

section#how{
	.card-half;
	color: black;

  background: lighten(@purple, 20%);

  border-image: url(../img/brush-border-purple.svg) 17 30 stretch;
  border-image-width: 40px;
	border-image-outset: 20px;
  border-left: 0;
  border-right: 0;

}
section#where{
	.card-third;
	margin-bottom: 40px;
}

h1.cardtitle{
	position: relative;
	top:-20px;
	-webkit-transform: rotate(-12deg);
	transform:rotate(-12deg);
	text-align: center;
	padding: 10px 0;
	color: #000;
	font-size: 4em;
	font-family: Great Vibes;

	@media screen and(max-width:630px) {
		font-size: 3em;
	}
}

h1.white{
	color:@white;
}

section#signup{
	.card-third;
	color: black;

  background: @lightYellow;

  border-image: url(../img/brush-border-yellow.svg) 22 29 stretch;
  border-image-width: 28px;
	border-image-outset: 28px;
  border-left: 0;
  border-right: 0;
}

section#organizers{

	.card-half;
}

section#menu{
	color: @white;
	text-shadow: 1px 1px 8px #000;

	z-index: 2;
	position:fixed;
	top:0px;
	right:0px;
	margin: 15px 15px 0px 0px;
	a{
		text-shadow: 1px 1px 8px #000;
		color: @white;
	}
}

div.signup{
	text-shadow: 1px 1px 8px #000;
	text-align: center;
	margin: 20px 0px;

	h3{
		margin-top: 5px;
	}
}

div.img-bar{
	margin: 20px 0;
}

img.img-circle{
	padding: 10px;
}

div#eventguide
{
	margin-bottom: 45px;
}

div#hashtagbanner{
	z-index: 2;
	position: absolute;
	top: 115px;
	left: -230px;

	text-align: center;
	background-color: @purple;
	-webkit-transform: rotate(-35deg);
	transform:rotate(-35deg);
	width: 800px;
	h3{
		color:@white;
		font-size: 3em;

	}

	@media screen and(max-width: 990px) {
		top: 25px;
		left: -300px;
		h3{
			font-size: 1.5em;
		}
	}
	@media screen and(max-width:630px) {
		top: 20px;
		left: -140px;
		width: 400px;

	}

}
div#schedule{
	.row{
		min-height: 40px;
		.col-xs-3, .col-xs-4, .col-xs-5{
			vertical-align: middle;
		}
	}

	.row:nth-child(odd){
		background: #ddd;
	}
}

.btn{
	margin-top: 40px;
}

#facebookbutton {
	background-color: #4c66a4;
	color: white;
	text-shadow: 0 0 0;
}

#map {
	height: 400px;
	width: 100%;
	margin: 25px 0 40px;
}

.bigicon{
	margin-top: 10px;
	color: darken(@iconColor, 10%);
	text-align: center;
	font-size: 8em;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}

h1#partners {
	margin-top: 75px;
}
